In [2]:
a = 10
b = 20
if a==10 and b==20:
    print("this is a valid statement")

this is a valid statement

In [3]:
a = 10
b = 20
if a==10 or b==30:
    print("this is a valid statement")

this is a valid statement

In [4]:
a==10 and b==20

True

In [5]:
a==10

True

In [6]:
b==40

False

In [7]:
a = 10
b = 20
if a==10 and b>20:
    print("this is a valid statement")

In [8]:
a==10 and b>20

False

In [9]:
a = 10
b = 20
if a==10 and b>20:
    print("this is a valid statement")
else:
    print("not a valid statement")

not a valid statement

In [10]:
a = 10
b = 20
if a==10 and b>20:
    print("this is a valid statement")
elif a==10 and b<=20:
    print("this statement is valid inside elif")
else:
    print("not a valid statement")

this statement is valid inside elif

In [11]:
a = 10
b = 20
if a==10 or b>20:
    print("this is a valid statement")
elif a==10 and b<=20:
    print("this statement is valid inside elif")
else:
    print("not a valid statement")

this is a valid statement

task: 

take a input from your keyboard as your first name and last name and then try to validate it.  write multiple condition by yourself

In [12]:
x = input("enter your first name")
y = input("enter your last name")

if x== "Priyanka" and y =="Jogdand":
    print("correct")
elif x=="priyanka" and y=="jogdand":
    print("correct, but first letter should be in upper case")
else:
    print("wrong entry")

enter your first nameudhei
enter your last namehsxuhwsdx
wrong entry

### While Loop

In [13]:
notes = 5
i = 1

while i < notes:  
    print(i)       
    i+=1

1
2
3
4

In [14]:
i = 5
j = 1 
while i>= j:    
    print(i)    
    i = i-1

5
4
3
2
1

In [15]:
initial_speed =0
final_speed =100
count = 0

while initial_speed  < final_speed:   
    print("this is my speed")
    count = count + 1          
    if count == 10:  
        break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [16]:
initial_speed =0
final_speed =10
count = 1

while initial_speed  < final_speed:
    print("this is my speed")
    count = count + 1
    if count == final_speed:
        break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [17]:
notes = 5
i = 1

while i < notes:
    print(i)
    i += 1
else :
    print("no 10 rs note is available")

1
2
3
4
no 10 rs note is available

## Slicing and stepping

In [1]:
s = "my name is Priyanka"

In [2]:
s[3:10]

'name is'

In [3]:
s[3:10:1]

'name is'

In [4]:
s[3:10:2]

'nm s'

In [5]:
len(s)

19

In [7]:
s[19]

IndexError: string index out of range

In [8]:
s[19:0:1]

''

In [24]:
s

'my name is Priyanka'

In [25]:
s[::-1]

'aknayirP si eman ym'

In [26]:
#s[-1::1]

In [27]:
s[19::-1]

'aknayirP si eman ym'

In [28]:
s[10:3:-1]

' si ema'

In [29]:
s[::-1]

'aknayirP si eman ym'

In [30]:
s

'my name is Priyanka'

In [72]:
s1 = "my name is shyam"

In [73]:
s1[-6:2:-1]

' si eman'

## For loop

In [9]:
s

'my name is Priyanka'

In [11]:
for i in s:
    print(i, end="")

my name is Priyanka

In [34]:
for i in s:
    print(i, end ="")

my name is Priyanka

In [35]:
s

'my name is Priyanka'

In [36]:
for i in s:           
    if i == 'a':
        print("i got 'a' as a string")
    print(i)

m
y

n
i got 'a' as a string
a
m
e

i
s

P
r
i
y
i got 'a' as a string
a
n
k
i got 'a' as a string
a

In [37]:
for i in s:
    print(i)
else:
    print("this is a else condition")

m
y

n
a
m
e

i
s

P
r
i
y
a
n
k
a
this is a else condition

In [38]:
s

'my name is Priyanka'

In [39]:
for i in s:
    if i=='a':
        break
    print(i)
else:
    print("this is a else condition")

m
y

n

In [40]:
for i in s:
    if i=='a':
        continue
    print(i)
else:
    print("this is a else condition")

m
y

n
m
e

i
s

P
r
i
y
n
k
this is a else condition

In [41]:
s= "Quasdtech"
ss = ""

In [42]:
type(s)

str

In [43]:
type(ss)

str

In [44]:
range(10)

range(0, 10)

In [45]:
len(s)

9

In [46]:
range(19)

range(0, 19)

In [13]:
s= "Quasdtech"
ss = ""
for i in range(len(s)):    # range(9) -> 0, 9
    if s[i]=='d':
        continue
        
    else:
        ss = ss + s[i]   #-> ""+ "Quastech"

In [14]:
ss

'Quastech'

In [49]:
len(s)

9

In [50]:
range(len(s))

range(0, 9)

In [51]:
s= "Quasdtech"
ss = ""
for i in range(len(s)):
    if s[i]=='d':
        continue
        
    else:
        ss = ss + s[i]    
ss

'Quastech'

In [52]:
s

'Quasdtech'

In [53]:
ss

'Quastech'

In [54]:
ss

'Quastech'

In [55]:
s= "Quasdtech"
ss = ""
for i in range(len(s)):
    if s[i]=='d':
        continue
    print(s[i])

Q
u
a
s
t
e
c
h

## Task

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [56]:
n = 9
i = 0
while i<n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [57]:
n = 7
m= 2 * n - 2
for i in range(n, -1, -1):
    for j in range(n, 0, -1):
        print(end= " ")
    m = m + 1
    for j in range(0, i+1):
        print("*", end=" ")
    print("")

       * * * * * * * *
       * * * * * * *
       * * * * * *
       * * * * *
       * * * *
       * * *
       * *
       *

In [58]:
s= "Quasdtech"
ss = ""
for i in range(len(s)):
    if s[i]=='d':
        continue
        
    else:
        ss = ss + s[i]
        print(ss)

Q
Qu
Qua
Quas
Quast
Quaste
Quastec
Quastech

In [2]:
s= "Quastech"
ss = ""

for i in range(len(s)):
    
        ss = ss + s[i]
        print(ss)

Q
Qu
Qua
Quas
Quast
Quaste
Quastec
Quastech

In [59]:
n = 7
for i in range(0, n):
    for j in range(0, i+1):     # 0 - 1(1-1)   #  i = 2 , j-> 0 - 2 (2-1=1)  # i =3, 
        print("+", end= "")
    print("\r")

+
++
+++
++++
+++++
++++++
+++++++

In [13]:
name = 'jose'
phno = 54353545
addr = "hvgyguih"

name, phno, addr = 'jose', 54353545, "hvgyguih"

In [14]:
name

'jose'

In [15]:
phno

54353545

In [16]:
addr

'hvgyguih'

In [61]:
l = ['jose', 54353545, "hvgyguih", True, 45+5j]

In [18]:
type(l[4])

complex

In [24]:
l[0]

'jose'

In [25]:
l[1]

54353545

In [26]:
l[2]

'hvgyguih'

In [27]:
type(l)

list

In [28]:
l1 = []

In [67]:
type(l1)

list

In [1]:
l = ['jose', 54353545, "hvgyguih", True, 45+8j, [3,4,5,"dfg"], 6.78]

In [2]:
l

['jose', 54353545, 'hvgyguih', True, (45+8j), [3, 4, 5, 'dfg'], 6.78]

In [3]:
l[8]

IndexError: list index out of range

In [4]:
l[15:5]

[]

In [46]:
l[5:15]

[[3, 4, 5, 'dfg'], 6.78]

In [47]:
l[8]

IndexError: list index out of range

In [48]:
l[8:3]

[]

In [5]:
range(20)

range(0, 20)

In [7]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [51]:
list=[0,1,2,2]

In [52]:
list

[0, 1, 2, 2]

In [8]:
l

['jose', 54353545, 'hvgyguih', True, (45+8j), [3, 4, 5, 'dfg'], 6.78]

In [53]:
for i in l:  
    print(i)

jose
54353545
hvgyguih
True
(45+8j)
[3, 4, 5, 'dfg']
6.78

In [9]:
l

['jose', 54353545, 'hvgyguih', True, (45+8j), [3, 4, 5, 'dfg'], 6.78]

In [54]:
for i in l:
    print(type(i))   # -> 0=type("jose")

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [56]:
l

['jose', 54353545, 'hvgyguih', True, (45+8j), [3, 4, 5, 'dfg'], 6.78]

In [22]:
for i in l:
    if type(i)==list:
        
        for j in i:              #i=[3, 4, 5, 'dfg']=j
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [24]:
for i in l:
    if type(i)==list:
        
        for j in i:              #i=[3, 4, 5, 'dfg']=j
            print(j,type(j))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
dfg <class 'str'>

In [12]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:      #i=[3, 4, 5, 'dfg']=j
            
            if type(j)==int:
                n = n+j          #0+3, 3+4, 7+5
        print(n)
        #print(type(j))

12

In [14]:
n = 7
j = 8
for i in range(n,0,-1):
    for j in range(0, j-1):
        print("*", end=" ")
        
    for j in range(0, i+1, -1):
        print(" *",end=" ")
    print("\r")

* * * * * * *
* * * * *
* * *
*

In [15]:
lst=[1,2,3,4]
lst[4:1:-1]

[4, 3]

In [58]:
lst=[1,2,3,4]

In [59]:
lst[4:1:-1]

[4, 3]

In [16]:
print("quas\rtech")

tech

In [17]:
n = 9
i = 0
while i<n:
    print(""*(n-i-1) + "*"*(i+1))
    i=i+1

*
**
***
****
*****
******
*******
********
*********

In [18]:
i=2
n=9
""*(n-i-1)

''

In [19]:
num = 5
m = 2 * num - 2

In [20]:
range(num, -1, -1)

range(5, -1, -1)

In [21]:
range(m, 0, -1)

range(8, 0, -1)

In [22]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    #for j in range(m, 0, -1):
        #print(end=" ")
    m = m + 1
    #for j in range(0, i+1):
        #print("*", end=" ")
    #print("")
    print(m)

9
10
11
12
13
14

In [18]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    
    for j in range(0, i+1):   
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [9]:
range(num, -1, -1)

range(5, -1, -1)

In [10]:
range(m, 0, -1)

range(14, 0, -1)