### String Manipulation

In [1]:
s = "my name is priyanka , my organization name is quastech"

In [2]:
s.find("name")

3

In [142]:
len("name")

4

In [143]:
range(len("name"))

range(0, 4)

In [144]:
s.find("name")     -> name  [3,4,5,6,]

3

In [145]:
b = s.find("name")    # b=3
for i in range(len("name")):  # 0, 1, 2, 3   
    print(b+i)           #  0+3,  3+1, 3+2,  3+3

3
4
5
6

In [146]:
len("name")

4

In [147]:
range(4)

range(0, 4)

In [148]:
s

'my name is priyanka , my organization name is quastech'

In [149]:
s.split()

['my',
 'name',
 'is',
 'priyanka',
 ',',
 'my',
 'organization',
 'name',
 'is',
 'quastech']

In [150]:
s

'my name is priyanka , my organization name is quastech'

In [151]:
s.split(',')

['my name is priyanka ', ' my organization name is quastech']

In [152]:
s.split('n')

['my ', 'ame is priya', 'ka , my orga', 'izatio', ' ', 'ame is quastech']

In [153]:
s.split('na')

['my ', 'me is priyanka , my organization ', 'me is quastech']

In [154]:
type(s.split('na'))

list

In [155]:
s.upper()

'MY NAME IS PRIYANKA , MY ORGANIZATION NAME IS QUASTECH'

In [156]:
s.lower()

'my name is priyanka , my organization name is quastech'

In [4]:
s1 = "ASEki"

In [5]:
s1.swapcase()

'aseKI'

In [6]:
s

'my name is priyanka , my organization name is quastech'

In [7]:
" ".join(s)

'm y   n a m e   i s   p r i y a n k a   ,   m y   o r g a n i z a t i o n   n a m e   i s   q u a s t e c h'

In [160]:
"t".join(s)

'mtyt tntatmtet titst tptrtitytatntktat t,t tmtyt totrtgtatntitztatttitotnt tntatmtet titst tqtutatstttetcth'

In [161]:
a =reversed(s)

In [162]:
a

In [1]:
s1 ="Python"

In [2]:
list(reversed(s1))

['n', 'o', 'h', 't', 'y', 'P']

In [165]:
for i in reversed(s):
    s1= print(i, end="")
    s1 =[]

hcetsauq si eman noitazinagro ym , aknayirp si eman ym

In [3]:
type(s1)

str

In [168]:
s[::-1]

'hcetsauq si eman noitazinagro ym , aknayirp si eman ym'

In [169]:
s = "    Hello"

In [170]:
s

'    Hello'

In [171]:
s.strip()

'Hello'

In [172]:
s

'    Hello'

In [21]:
s = "   Hello  "

In [22]:
s

'   Hello  '

In [23]:
s.strip()

'Hello'

In [24]:
s

'   Hello  '

In [25]:
s.lstrip()

'Hello  '

In [26]:
s.rstrip()

'   Hello'

In [27]:
s = "greetings from quastech"

In [28]:
s.replace("g", "t")

'treetints from quastech'

In [12]:
s.replace("gr", "str")

'streetings from quastech'

In [13]:
s      # string immutable

'greetings from quastech'

In [14]:
t = s.replace("gr", "str")

In [15]:
t

'streetings from quastech'

In [16]:
t[0] = "m"         # String immutable

TypeError: 'str' object does not support item assignment

In [185]:
s = "Hello"

In [186]:
s.center(20, ' ')

'       Hello        '

In [187]:
s.center(20, '*')

'*******Hello********'

In [188]:
s.center(10, '@')

'@@Hello@@@'

In [18]:
s = "quas\ttech"

In [19]:
s.expandtabs()

'quas    tech'

In [29]:
s = "Welcome\tto\tquastech"

In [30]:
s.expandtabs()

'Welcome to      quastech'

In [4]:
str1 = "master python"
str1[-1:5:-2]                     # 5-1=4 elements

'nhy '

In [5]:
str1 = "master python"
str1[-2:5:-2]                 # 5-2 = 3 elements

'otp'

In [32]:
s

'Welcome\tto\tquastech'

In [192]:
s.expandtabs()

'Welcome to      quastech'

In [31]:
str = "xyz\t12345\tabc"

In [194]:
str.expandtabs()

'xyz     12345   abc'

In [195]:
str = 'xyz\t12345\tabc'

# no argument is passed
# default tabsize is 8
result = str.expandtabs()

print(result)

xyz     12345   abc

In [196]:
str = "xyz\t12345\tabc"
print('Original String:', str)

# tabsize is set to 2
print('Tabsize 2:', str.expandtabs(2))   

# tabsize is set to 3
print('Tabsize 3:', str.expandtabs(3))

# tabsize is set to 4
print('Tabsize 4:', str.expandtabs(4))

# tabsize is set to 5
print('Tabsize 5:', str.expandtabs(5))

# tabsize is set to 6
print('Tabsize 6:', str.expandtabs(6))

Original String: xyz	12345	abc
Tabsize 2: xyz 12345 abc
Tabsize 3: xyz   12345 abc
Tabsize 4: xyz 12345   abc
Tabsize 5: xyz  12345     abc
Tabsize 6: xyz   12345 abc

In [197]:
 "xyz\t12345\tabc"

'xyz\t12345\tabc'

#### 1. The default tabsize is 8. The tab stops are 8, 16 and so on. \
#### 2. When you set the tabsize to 2. The tab stops are 2, 4, 6, 8 and so on. 
#### 3. When you set the tabsize to 3. The tab stops are 3, 6, 9 and so on.
#### 4. When you set the tabsize to 4. The tab stops are 4, 8, 12 and so on. 
#### 5. When you set the tabsize to 5. The tab stops are 5, 10, 15 and so on.
#### 6. When you set the tabsize to 6. The tab stops are 6, 12, 18 and so on.

### Task

In [41]:
a = "We all a part of Data Science"
for i in a:
    print(i, end="")
    for j in i:
        if j=="a":
            print(j)

We aa
ll aa
 paa
rt of Daa
taa
 Science

In [42]:
a = "We all a part of Data Science"

- 1. a = "We all a part of Data Science"
- 2. Normalize all the string in lowercase
- 3. Find number of occurances of "a" in entire data
- 4. find all the location/indexes of "a" in string
- 5. Replace all the "a" with "Python"
- 6. print all the words as a list

In [33]:
s = "vgugyuh"

In [34]:
s[2]

'u'

In [45]:
s = "my name is priyanka , my organization name is quastech"

In [46]:
a = s.find("name")
a

3

In [8]:
b = a+len("name")
b

7

In [9]:
s.find("name",b)

38

In [10]:
s = "my name is priyanka , my organization name is quastech"
a = s.find("name")
b = a+len("name")
s.find("name",b)

38

##### Mutable:  IT allows to do manipulation with index number
##### Immutable : It doesn't allow to do the manipulations with index numbers

In [11]:
s

'my name is priyanka , my organization name is quastech'

In [12]:
s = "hvyuduywduhej"

In [13]:
s

'hvyuduywduhej'

In [203]:
# 1.a = "We all a part of Data Science"

a = "We all a part of Data Science"

# 2. Normalize all the string in lowercase

a.lower()

# 3. Find number of occurances of "a" in entire data

c = a.count("a")
print("count of a is ",c)

# 4. find all the location/indexes of "a" in string

for i in range(len(a)):
    if a[i]=="a":
        print(i)
        
        
# 5. Replace all the "a" with "Python"

r = a.replace("a" , "Python")
print(r)

# 6. print all the words as a list 
split1 = a.split()
print(split1)

count of a is  5
3
7
10
18
20
We Pythonll Python pPythonrt of DPythontPython Science
['We', 'all', 'a', 'part', 'of', 'Data', 'Science']

In [47]:
s = "bhg,bhh"

In [48]:
len(s)

7

In [49]:
s

'bhg,bhh'

In [52]:
s = "Quastech"
s.islower()

False

In [53]:
s.isalnum()

True

In [54]:
s.isascii()

True

In [16]:
s.isdecimal()

False

In [17]:
s.isdigit()

False

In [18]:
s.isidentifier()

True

In [20]:
s.isprintable()

True

In [62]:
s ='brergfrv '

In [63]:
s

'brergfrv '

In [64]:
s.isspace()

False

In [22]:
s.istitle()

True

In [24]:
s.endswith("h")

True

In [25]:
s.startswith("Q")

True

In [26]:
s.isalpha()

True

In [66]:
s

'brergfrv '

In [67]:
len(s)

9

In [68]:
count = 0
for i in s:
    count = count + 1  # 1,  1+2, 3+1, 4+1, 
print(count)

9

In [219]:
s = " this is a python batch "

count = 0
for i in s:
    count = count + 1
print(count)

24

In [220]:
for i in s:
    print(i)

t
h
i
s

i
s

a

p
y
t
h
o
n

b
a
t
c
h

In [221]:
len(s)

24

In [222]:
for i in range(len(s)):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23

In [223]:
for i in range(len(s)):
    print(s[i], end ="")

 this is a python batch

In [224]:
for i in range(len(s)):
    print(s[-i], end ="")

  hctab nohtyp a si siht

In [29]:
s = "Python"
len(s)

6

In [225]:
s = "Python"
ch = len(s)-1
while ch >= 0:
    print(s[ch])
    ch = ch-1

n
o
h
t
y
P

In [19]:
# Reversing string using while loop

s="python"
ch = len(s)- 1
while ch>=0:
    print(s[ch] , end=" ")
    ch = ch-1

n o h t y p

In [38]:
name = "ipython"
vowels = "AaEeIiOoUu"

for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
p is not a vowel
y is not a vowel
t is not a vowel
h is not a vowel
o is a vowel
n is not a vowel

In [30]:
"it is a vowel"

'it is a vowel'

In [39]:
"{} is a vowel".format("i")

'i is a vowel'

In [31]:
"{} am a python".format("I")

'I am a python'

In [32]:
"{}  name is Priyanka ".format("my")

'my  name is Priyanka '

In [37]:
"{} {} Priyanka ".format("my","is")

'my is Priyanka '

In [35]:
a= input()
b=input()

MY
IS

In [36]:
"{}  name {} Priyanka ".format(a,b)

'MY  name IS Priyanka '

In [45]:
# Palindrome

In [46]:
a = "madam"
b="eye"
c=2002
d="malayalam"
e = "nitin"
f= "xyx"

In [39]:
s = input()
s1=s[::-1]

if s ==s1:
    print("it's a palindrome")
else:
    print("it's not a palindrome")

xyx
it's a palindrome

In [41]:
s = input("enetr a string which you would like to check palindrome  ")
s1=s[::-1]

if s ==s1:
    print("{} a palindrome".format(s1))
else:
    print("{} not a palindrome".format(s1))

enetr a string which you would like to check palindrome  2002
2002 a palindrome

### List Manipulation

In [102]:
l =['Python','DS','ML',35,78,56,[10,15,78,23]]

In [103]:
l

['Python', 'DS', 'ML', 35, 78, 56, [10, 15, 78, 23]]

In [104]:
l[0:3]

['Python', 'DS', 'ML']

In [4]:
l

['Python', 'DS', 'ML', 35, 78, 56, [10, 15, 78, 23]]

In [5]:
len(l)

7

In [110]:
s = "this is a python batch"
print(len(s))
for i in range(len(s)+1):     
    print(s[-i], end="")

22
thctab nohtyp a si siht

In [8]:
l

['Python', 'DS', 'ML', 35, 78, 56, [10, 15, 78, 23]]

In [9]:
l[5]

56

In [11]:
l

['Python', 'DS', 'ML', 35, 78, 56, [10, 15, 78, 23]]

In [12]:
'Ml' in l

False

In [53]:
l[::-1]

[[10, 15, 78, 23], 56, 78, 35, 'ML', 'DS', 'Python']

In [55]:
l

['Python', 'DS', 'ML', 35, 78, 56, [10, 15, 78, 23]]

In [15]:
type([10, 15, 78, 23])

list

In [19]:
l

['Python', 'DS', 'ML', 35, 78, 56, [10, 15, 78, 23]]

In [56]:
for i in l:
    if type(i)==list:
        print("{} is from list".format(i))
    else:
        print("{} is not from list".format(i))

Python is not from list
DS is not from list
ML is not from list
35 is not from list
78 is not from list
56 is not from list
[10, 15, 78, 23] is from list

In [112]:
l=['Python', 'DS', 'ML', 35]

In [113]:
l1 = [345, 2345, "ineuron", "tech"]

In [114]:
l1+l

[345, 2345, 'ineuron', 'tech', 'Python', 'DS', 'ML', 35]

In [22]:
l + l1               # appended l1 to l

['Python', 'DS', 'ML', 35, 345, 2345, 'ineuron', 'tech']

In [23]:
 s = l*3

In [24]:
s

['Python', 'DS', 'ML', 35, 'Python', 'DS', 'ML', 35, 'Python', 'DS', 'ML', 35]

In [64]:
max([10, 15, 86, 23])

86

In [65]:
min([10, 15, 78, 23])

10

In [25]:
min([10, 15, 78,11.3, 23])

10

In [66]:
max([10, 15, 78, 23,"vferv"])

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
max(['A','B','D','Z'])

'Z'

In [27]:
max(['a','b','q','c'])

'q'

In [28]:
max(['a','b','q','c','A','B','D','Z'])

'q'

In [18]:
max(['Python', 'DSgcftygvfry', 'ML', 'AI', 'NLP', "vgftt","fdrt","Vxrdt"])

'vgftt'

In [68]:
min(['Python', 'DS', 'ML', 'AI', 'NLP'])

'AI'

In [69]:
min([10, 15, 78, 23,"vferv"])

TypeError: '<' not supported between instances of 'str' and 'int'

In [47]:
l = [1,2,3,4]

In [48]:
l.append("ctyy")

In [49]:
l

[1, 2, 3, 4, 'ctyy']

In [50]:
l.append(5+8j)

In [51]:
l

[1, 2, 3, 4, 'ctyy', (5+8j)]

In [52]:
l.insert(3, "ANN")

In [53]:
l

[1, 2, 3, 'ANN', 4, 'ctyy', (5+8j)]

In [55]:
l.insert(-1, "test" )

In [56]:
l

[1, 2, 3, 'ANN', 4, 'ctyy', 'test', (5+8j)]

In [57]:
l.insert(0, "test" )

In [58]:
l

['test', 1, 2, 3, 'ANN', 4, 'ctyy', 'test', (5+8j)]

In [59]:
l.insert(4,"test")

In [60]:
l

['test', 1, 2, 3, 'test', 'ANN', 4, 'ctyy', 'test', (5+8j)]

In [61]:
l.count("test")

3

In [62]:
l

['test', 1, 2, 3, 'test', 'ANN', 4, 'ctyy', 'test', (5+8j)]

In [63]:
l.append([1,2,3,4])

In [64]:
l

['test', 1, 2, 3, 'test', 'ANN', 4, 'ctyy', 'test', (5+8j), [1, 2, 3, 4]]

In [69]:
l = [1,2,3]

In [70]:
l.extend([10])
l

[1, 2, 3, 10]

In [115]:
l.extend(["vgfyuh"])

In [116]:
l

['Python', 'DS', 'ML', 35, 'vgfyuh']

In [75]:
l

[1, 2, 3, 10, 'v', 'g', 'f', 'y', 'u', 'h', 'v', 'g', 'f', 'y', 'u', 'h']

In [76]:
l

[1, 2, 3, 10, 'v', 'g', 'f', 'y', 'u', 'h', 'v', 'g', 'f', 'y', 'u', 'h']

In [78]:
l.extend("vygyh")

In [79]:
l

[1,
 2,
 3,
 10,
 'v',
 'g',
 'f',
 'y',
 'u',
 'h',
 'v',
 'g',
 'f',
 'y',
 'u',
 'h',
 'v',
 'y',
 'g',
 'y',
 'h']

In [118]:
str1 = "test3"
str1

'test3'

In [119]:
list(str1)

['t', 'e', 's', 't', '3']

In [125]:
l.extend([56])

In [126]:
l

['Python', 'DS', 'ML', 35, 'vgfyuh', '4', '5', '45', 25, 'bhjh', 56, 56]

In [127]:
l.extend([45,25])

In [74]:
l.append([1,2,3,4])

In [75]:
l

['test',
 1,
 2,
 3,
 'test',
 'ANN',
 4,
 'test',
 (5+8j),
 't',
 'e',
 's',
 't',
 '3',
 [1, 2, 3, 4],
 't',
 'e',
 's',
 't',
 '3',
 45,
 25,
 [1, 2, 3, 4]]

In [76]:
l.extend([1,2,3,4])

In [77]:
l

['test',
 1,
 2,
 3,
 'test',
 'ANN',
 4,
 'test',
 (5+8j),
 't',
 'e',
 's',
 't',
 '3',
 [1, 2, 3, 4],
 't',
 'e',
 's',
 't',
 '3',
 45,
 25,
 [1, 2, 3, 4],
 1,
 2,
 3,
 4]

In [65]:
l2 = ["vhguui"]

In [66]:
l2.extend("gcfyh")

- Difference between append and extend, insert

In [128]:
l1 = [1,2,3,4]

In [129]:
l1.extend([5,6,7,["def",12]])

In [86]:
l1.append(3)

In [87]:
l1

[1, 2, 3, 4, 5, 6, 7, ['def', 12], 3]

In [88]:
l1.index(3)

2

In [ ]:
l1.index(['def', 12])

In [134]:
l1 = [2,3,4,5,6,7]

In [135]:
l1

[2, 3, 4, 5, 6, 7]

In [138]:
l1.pop(0)

3

In [95]:
l1

[4, 5]

In [96]:
l

[1,
 2,
 3,
 10,
 'v',
 'g',
 'f',
 'y',
 'u',
 'h',
 'v',
 'g',
 'f',
 'y',
 'u',
 'h',
 'v',
 'y',
 'g',
 'y',
 'h']

In [97]:
l1.pop(1)

5

In [98]:
l1 =[1,2,3,4]

In [79]:
l1.pop(-1)

4

In [80]:
l1

[1, 2, 3]

In [99]:
l2 = [3,4,5,6,7,8,9]

In [100]:
l2.remove(6)

In [101]:
l2

[3, 4, 5, 7, 8, 9]

In [84]:
l2 = [3,4,5,6,7,6,6,8,6,9]

In [85]:
l2.remove(6)

In [86]:
l2

[3, 4, 5, 7, 6, 6, 8, 6, 9]

In [102]:
l2.remove(6)

In [103]:
l2

[3, 4, 5, 7, 6, 8, 6, 9]

- pop removes the data based on indexes
- remove removes the data based on data matching.

In [139]:
l2=[3, 4, 5, 7, 6, 8, 6, 9]

In [140]:
l2

[3, 4, 5, 7, 6, 8, 6, 9]

In [141]:
l2.reverse()

In [142]:
l2

[9, 6, 8, 6, 7, 5, 4, 3]

In [143]:
l2.sort(reverse=False)

In [144]:
l2

[3, 4, 5, 6, 6, 7, 8, 9]

In [145]:
l2.sort(reverse=True)

In [146]:
l2

[9, 8, 7, 6, 6, 5, 4, 3]

In [107]:
l2.sort()

In [108]:
l2

[3, 4, 5, 6, 6, 7, 8, 9]

In [109]:
l2 = [3,4,5,[6,"cedce"],7,6,["decd d",6],8,[6,9]]

In [110]:
l2

[3, 4, 5, 6, 'cedce', 7, 6, 'decd d', 6, 8, 6, 9]

- l = [[  ], [  ],[  ]]            //create a list
- 1. Append two more lists and one complex number in between the existing list
- 2. if your nested list contain string then find out its index in nested list and print it. then remove the string.
- 3. You are supposed to extract second element of each nested list

In [1]:
i = [[45,"vhguh",89,10],["nhihi",45,15,],["vgh",15, "bhyguh"]]

In [31]:
list1 = [1,2,3,4,[1,"dec",3],["ede",34,"rf4r"],12, ["dedfer","effe",25]]

In [32]:
list1.insert(2,[2,2,2,2])

In [33]:
list1.insert(3,[3,3,3,3])

In [34]:
list1.append(45+3j)

In [35]:
# 1.Append two more lists and one complex number in between the existing list
list1

[1,
 2,
 [2, 2, 2, 2],
 [3, 3, 3, 3],
 3,
 4,
 [1, 'dec', 3],
 ['ede', 34, 'rf4r'],
 12,
 ['dedfer', 'effe', 25],
 (45+3j)]

In [36]:
# 2. if your nested list contain string then find out its index in nested list and print it. then remove the string.

for i in list1:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j],j))
            j = j+1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is {}". format(i[j],j))
                i.remove(i[j])
                continue
            j = j + 1
print("List after removal of string from nested list is\r", list1, '\n')

Index of string dec is :
The string in the nested list is dec
Index of string ede is :
Index of string rf4r is :
The string in the nested list is ede
The string in the nested list is rf4r
Index of string dedfer is :
Index of string effe is :
The string in the nested list is dedfer
The string in the nested list is effe
 [1, 2, [2, 2, 2, 2], [3, 3, 3, 3], 3, 4, [1, 3], [34], 12, [25], (45+3j)]

In [146]:
list1

[1, 2, [2, 2, 2, 2], [3, 3, 3, 3], 3, 4, [1, 3], [34], 12, [25], (45+3j)]

In [50]:
# 3. You are supposed to extract second element of each nested list

for i in list1:
    if type(i)==list:
        print(i[1])

dec
34
2
3

### List Comprehension

In [157]:
l1 =[]

In [158]:
type(l1)

list

In [159]:
l1

[]

In [160]:
for i in "bgyuh":
    l1.append(i)

In [161]:
[i for i in "bgyuh"]

['b', 'g', 'y', 'u', 'h']

In [155]:
l1

['b', 'g', 'y', 'u', 'h']

In [1]:
l =[1,2,3,4]

In [2]:
for i in l:
    print([i], end="")

[1][2][3][4]

In [3]:
[i for i in l]

[1, 2, 3, 4]

In [163]:
for i in "cgty6y":
    print([i], end="")

['c']['g']['t']['y']['6']['y']

In [98]:
[i for i in "cgty6y"]

['c', 'g', 't', 'y', '6', 'y']

In [99]:
[[i] for i in "cgty6y"]   #  [       ]

[['c'], ['g'], ['t'], ['y'], ['6'], ['y']]

In [4]:
l = []
for i in range(10):
    if i%2 ==0:
        l.append(i)

In [5]:
l

[0, 2, 4, 6, 8]

In [11]:
l =[2,3,4,5,10,12,15,16]
l1 =[]
for i in l:
    if i%2==0:
        l1.append(i)

In [12]:
l1

[2, 4, 10, 12, 16]

In [102]:
l =[10,20,30,40,50,60,80,100]

In [105]:
l1 =[]
for i in range(10):  # 0,10
    if i%2==0:
        l1.append(i)

In [106]:
l1

[0, 2, 4, 6, 8]

In [7]:
#[i if i%2==0 for i in range(10)]

In [15]:
[i for i in range(10) if i%2==0]  # 0,9

[0, 2, 4, 6, 8]

In [109]:
range(10)

range(0, 10)

In [8]:
[ "odd" if i%2 !=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [112]:
l = []
for i in range(10):     # 0-even, 1-odd, 2- even
    if i%2 !=0:
        l.append("odd")
    else:
        l.append("even")

In [113]:
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [18]:
["odd" if i%2 !=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [10]:
[j  for i in range(3) for j in range(3) ]

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [11]:
#[j for j in range(3) for i in range(3) ]

In [116]:
## Matrix

mat = []
for i in range(3):    # [0,1,2] [0,1,2] [0,1,2]
    mat.append([])
    for j in range(3):
        mat[i].append(j)

In [118]:
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [119]:
[[j for j in range(3) for i in range(3)]]

[[0, 0, 0, 1, 1, 1, 2, 2, 2]]

In [24]:
[i for i in range(8) if i%2==0  if i%3==0]   # 0-7

[0, 6]

In [12]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l3 =[]
for i in range(10):
    l3.append(i)
l3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1 =[[1,2,3],[4,5,6],[7,8,9]]

In [31]:
['yes' if i==1 else "no" if i==2 else "test" for i in l3]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [14]:
l3 =[]
for i in range(10):
    l3.append(i)
l3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
["yes" if i==1 else "no" if i==2 else "test" for i in l3]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [32]:
res =[]

for i in l3:
    if i==1:
        res.append("yes")
    elif i==2:
        res.append("no")
    else:
        res.append("test")

In [33]:
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [18]:
range(0,30,3)

range(0, 30, 3)

In [36]:
[i for i in range(0,31,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [34]:
for i in range(0,10,3):  #  (0, 3,6,9, 12, 15, 18, 21, 24, 27)
    i=i+5                #  (5,8,11,14,17,20,23,26,29,32)    
    print(i)

5
8
11
14

In [35]:
["yes" if i%2==0 else "n0" for i in range(10)]

['yes', 'n0', 'yes', 'n0', 'yes', 'n0', 'yes', 'n0', 'yes', 'n0']

In [37]:
%%time
lst =[]
for i in range(10):
    if i%2==0:
        lst.append('even')
    else:
        lst.append('odd')

Wall time: 0 ns

In [40]:
lst

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [42]:
%%time
[i*3 for i in range(10)]

Wall time: 0 ns

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [43]:
# fibbonacci
a = 1
b = 1
for i in range(10):    
    print(a)            
    a, b=b, a+b

1
1
2
3
5
8
13
21
34
55

In [44]:
for i in enumerate([1,2,3,4]):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [45]:
str1 ="Python"

In [46]:
list(enumerate(str1))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [38]:
x= ['a','b','c','d','e']
for i in x:
    x.remove(i)
    print(i)

a
c
e

In [39]:
x

['b', 'd']