### Tuple

In [16]:
l =list([10,20])

In [3]:
l1

[]

In [4]:
type(l1)

list

In [17]:
l

[10, 20]

In [14]:
type(l)

list

In [7]:
# Creating Tuple t
t = ()

In [8]:
type(t)

tuple

In [11]:
l1 = [234,34,"Python", 3.45, True]

In [12]:
type(l1)

list

In [13]:
t1 = ((234,),34,"Python", 3.45, True)

In [15]:
t1[0:4]

(234, 34, 'Python', 3.45)

In [16]:
t1[::-1]

(True, 3.45, 'Python', 34, 234)

In [17]:
l1

[234, 34, 'Python', 3.45, True]

In [18]:
l1[0]="Data science"

In [30]:
l1

['Data science', 34, 'Python', 3.45, True]

In [21]:
t1

(234, 34, 'Python', 3.45, True)

In [20]:
t1[0]

234

In [19]:
t1[1]="DS"

TypeError: 'tuple' object does not support item assignment

In [23]:
l2 =list(t1)

In [24]:
l2

[234, 34, 'Python', 3.45, True]

In [45]:
l2[2]="vhgy"

In [46]:
l2

[234, 34, 'vhgy', 3.45, True]

In [47]:
tuple(l2)

(234, 34, 'vhgy', 3.45, True)

In [34]:
tuple(t1)

(234, 34, 'Python', 3.45, True)

In [25]:
t1

(234, 34, 'Python', 3.45, True)

In [26]:
t2 =(234,54,20)

In [27]:
t1 + t2

(234, 34, 'Python', 3.45, True, 234, 54, 20)

In [28]:
t1*2

(234, 34, 'Python', 3.45, True, 234, 34, 'Python', 3.45, True)

In [28]:
t1

(234, 34, 'Python', 3.45, True)

In [53]:
"cfftg" in t1

False

In [29]:
34 in t1

True

In [30]:
"mkcjsij" in t1

False

In [31]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [54]:
t1 = (34,45,67,21)

In [55]:
max(t1)

67

In [56]:
min(t1)

21

In [59]:
t3 = ("sws","vwdwd","renc","ASE")

In [60]:
max(t3)

'vwdwd'

In [30]:
t1

(234, 34, 'Python', 3.45, True)

In [31]:
t1.index(34)

1

In [63]:
t1.index(67)

2

In [41]:
t1 = (34, 45, 67,34,34,34, 21)

In [42]:
t1.index(34)

0

In [43]:
t1.count(34)

4

In [44]:
t1

(34, 45, 67, 34, 34, 34, 21)

In [65]:
t4 = 56

In [66]:
l4 = list(t1)

In [67]:
l4

[34, 45, 67, 21]

In [68]:
t4

56

In [73]:
l4.insert(3, "800")

In [75]:
l4

[34, 45, 67, '800', 800, 56, 21]

In [76]:
tuple(l4)

(34, 45, 67, '800', 800, 56, 21)

In [1]:
t = ((3,4,5),("deuc",23,45),(True, (45+6j),6.25))

In [2]:
t

((3, 4, 5), ('deuc', 23, 45), (True, (45+6j), 6.25))

In [3]:
t[0]

(3, 4, 5)

In [4]:
t[1]

('deuc', 23, 45)

In [5]:
t[2]

(True, (45+6j), 6.25)

In [6]:
t[3]

IndexError: tuple index out of range

In [57]:
type(t[2])

tuple

In [37]:
t = ((3,4,5,6,7),("bhhg",45,45),("146",22),78,23,56,(4,5,6,7))

In [38]:
t

((3, 4, 5, 6, 7), ('bhhg', 45, 45), ('146', 22), 78, 23, 56, (4, 5, 6, 7))

In [39]:
t[5]

56

In [40]:
t[2][0]

'146'

In [95]:
t[6][1:3]

(5, 6)

In [96]:
t

((3, 4, 5, 6, 7), ('bhhg', 45, 45), ('146', 22), 78, 23, 56, (4, 5, 6, 7))

In [97]:
t[1][0]

'bhhg'

In [98]:
for i in t:
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'tuple'>

In [99]:
t

((3, 4, 5, 6, 7), ('bhhg', 45, 45), ('146', 22), 78, 23, 56, (4, 5, 6, 7))

In [100]:
# Print the values of nested tuples.
for i in t:
    if type(i)==tuple:
        print(i)

(3, 4, 5, 6, 7)
('bhhg', 45, 45)
('146', 22)
(4, 5, 6, 7)

In [14]:
t = (234, 34,"Python", "ML", 3.65,24,34,34,"DS")

In [18]:
i = input("take a input from the user")  #->str
if i==int:
    if i in t:
        print("entered input is available")
    else:
        print("entered input is not available")
if i==str:
    
    if i in t:
        print("entered input is available")
    else:
        print("entered input is not available")
else:
    print("invalid input")

take a input from the userML
invalid input

In [68]:
t

(234, 34, 'Python', 'ML', 3.65, 24, 34, 34, 'DS')

In [69]:
l1

['ML', 34, 'Python', 3.45, True]

#### The del keyword can be used to delete a list, slice a list, delete a dictionaries, remove key-value pairs from a dictionary, delete variables, etc.

In [22]:
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list2 =["Python", "ML", "DS"]

In [23]:
# check if my_list1 and my_list2 exists
print(my_list1, my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9] ['Python', 'ML', 'DS']

In [24]:
# delete second element of my_list1
del my_list1[1]

In [25]:
del my_list1[-1]

In [26]:
# check if the second element in my_list1 is deleted
print(my_list1)

[1, 3, 4, 5, 6, 7, 8]

In [28]:
# slice my_list1 from index 3 to 5
del my_list1[3:-1]

In [29]:
# check if the elements from index 3 to 5 in my_list1 is deleted
print(my_list1)

[1, 3, 4, 8]

In [30]:
# delete my_list2
del my_list2

In [31]:
# check if my_list2 exists
print(my_list2)

NameError: name 'my_list2' is not defined

In [111]:
my_dict1 = {"small": "big", "black": "white", "up": "down"}
my_dict2 = {"dark": "light", "fat": "thin", "sky": "land"}

In [112]:
# check if my_dict1 and my_dict2 exists
print(my_dict1)
print(my_dict2)

{'small': 'big', 'black': 'white', 'up': 'down'}
{'dark': 'light', 'fat': 'thin', 'sky': 'land'}

In [113]:
# delete key-value pair with key "black" from my_dict1
del my_dict1["black"]

In [114]:
# check if the  key-value pair with key "black" from my_dict1 is deleted
print(my_dict1)

{'small': 'big', 'up': 'down'}

In [115]:
# delete my_dict2
del my_dict2

In [116]:
# check if my_dict2 exists
print(my_dict2)

NameError: name 'my_dict2' is not defined

#### 1. del keyword for deleting variables

In [117]:
my_variable1 = 20
my_variable2 = "Hello World"

In [118]:
# check if my_variable1 and my_variable2 exists
print(my_variable1)
print(my_variable2)

20
Hello World

In [119]:
# delete both the variables
del my_variable1
del my_variable2

In [121]:
# check if my_variable1 and my_variable2 exists
print(my_variable1)

NameError: name 'my_variable1' is not defined

In [122]:
print(my_variable2)

NameError: name 'my_variable2' is not defined

### set

In [ ]:
l =[]

In [45]:
dict1 ={}

In [1]:
t1 =()

In [2]:
type(t1)

tuple

In [3]:
x =set()

In [4]:
type(x)

set

In [5]:
x ={1,"hgu",3}

In [44]:
type(x)

set

In [36]:
type(x)

set

In [112]:
x = set()

In [10]:
x = {1,"buhih",2,"vggy"}

In [11]:
type(x)

set

In [115]:
type(x)

set

In [53]:
l = [34,45,45,45,67,34,56,78,"Python","python","ML","ml"]
l

[34, 45, 45, 45, 67, 34, 56, 78, 'Python', 'python', 'ML', 'ml']

In [54]:
set(l)

{34, 45, 56, 67, 78, 'ML', 'Python', 'ml', 'python'}

In [55]:
s=set(l)

In [58]:
s

{34, 45, 56, 67, 78, 'ML', 'Python', 'ml', 'python'}

In [59]:
for i in s:    # ->
    print(i)

ml
34
67
45
78
python
56
Python
ML

In [60]:
56 in s

True

In [61]:
s[0]

TypeError: 'set' object is not subscriptable

In [62]:
s(0)

TypeError: 'set' object is not callable

In [115]:
l=[10,20,10,20,30]

In [116]:
s = set(l)

In [118]:
s

{10, 20, 30}

In [119]:
s.add("Python")

In [120]:
s

{10, 20, 30, 'Python'}

In [121]:
s.add("xggyuh")

In [122]:
s

{10, 20, 30, 'Python', 'xggyuh'}

In [123]:
s.add([23,45])

TypeError: unhashable type: 'list'

In [73]:
l1 = [1,1,3,4,"cgfdty",12.03]

In [74]:
set(l1)

{1, 12.03, 3, 4, 'cgfdty'}

In [124]:
l = [34,45,45,45,67,34,56,78,"Python","python","ML","ml",[1,2,3,4]]

In [125]:
set(l)

TypeError: unhashable type: 'list'

In [113]:
s=((12,3,45,6))

In [114]:
s

(12, 3, 45, 6)

In [79]:
set(l)

TypeError: unhashable type: 'list'

In [86]:
s

{'Python', 'xggyuh'}

In [87]:
s.add(45)

In [88]:
s.add(45)

In [89]:
s

{45, 'Python', 'xggyuh'}

In [90]:
s.remove(45)

In [91]:
s

{'Python', 'xggyuh'}

In [92]:
45 in s

False

In [93]:
"Python" in s

True

In [94]:
s

{'Python', 'xggyuh'}

In [95]:
s.add(23)

In [96]:
s1 =set()

In [97]:
l = [345, 5445, 544578, 6546,654, 6]

In [98]:
s1=set(l)

In [99]:
s1

{6, 345, 654, 5445, 6546, 544578}

In [100]:
s

{23, 'Python', 'xggyuh'}

In [103]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [104]:
s*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [146]:
s

{'Python', 'xggyuh'}

In [129]:
s.append(25,)

AttributeError: 'set' object has no attribute 'append'

In [128]:
list1 = list(s)

In [129]:
list1

[23, 'Python', 'xggyuh']

In [130]:
list1.append(25)

In [131]:
list1

[23, 'Python', 'xggyuh', 25]

In [132]:
tuple1 = tuple(s)

In [133]:
tuple1

(23, 'Python', 'xggyuh')

In [134]:
set(tuple1)

{23, 'Python', 'xggyuh'}

In [106]:
s.add(23)

In [110]:
s1 = {1,2,3,3,3,3,3,4,5,5,6,7,10}

In [111]:
s1

{1, 2, 3, 4, 5, 6, 7, 10}

### Dictionary

In [33]:
set1 ={1,2,3,4,4}
type(set1)

set

In [34]:
# priyanka.j.datascience@gmail.com

In [35]:
x = {}

In [36]:
type(x)

dict

In [37]:
x ={"1":34,"2":56}

In [38]:
type(x)

dict

In [39]:
x

{'1': 34, '2': 56}

In [6]:
x = {"name":"Priyanka","age":3455}

In [7]:
x

{'name': 'Priyanka', 'age': 3455}

In [8]:
x1 = {"name":"Priyanka","age":3455, True:"bhgyu",5478:456}

In [44]:
x1

{'name': 'Priyanka', 'age': 3455, True: 'bhgyu', 5478: 456}

In [16]:
x1 = {"name":"Priyanka", "name":3455,"name":"bhuij", True:"bhgyu",5478:456, "%":155}

In [12]:
x1

{'name': 'bhuij', True: 'bhgyu', 5478: 456, '%': 155}

In [17]:
x1 = {"name":"Priyanka", "age":3455,"name":"bhuij", True:"bhgyu",5478:456, "_145":155}

In [21]:
x1 = {"name":"Priyanka", "age":3455,"name":"bhuij", True:"bhgyu",5478:456, "_145":155}

In [22]:
x1

{'name': 'bhuij', 'age': 3455, True: 'bhgyu', 5478: 456, '_145': 155}

In [23]:
x1 = {"name":"Priyanka", "age":3455,"name":"bhuij", True:"bhgyu",5478:(456,11,56), "_145":[155,"vgyyu",True]}

In [170]:
x1

{'name': 'bhuij',
 'age': 3455,
 True: 'bhgyu',
 5478: (456, 11, 56),
 '_145': [155, 'vgyyu', True]}

In [45]:
x1 = {[1,2,3,4]:"wer", 'k4':[1,2,3,4]}

TypeError: unhashable type: 'list'

In [24]:
x1 = {{3:"cevr"}:"wer", 'k4':[1,2,3,4]}

TypeError: unhashable type: 'dict'

In [13]:
x1 = {"wer":[1,2,3,4]}

In [14]:
x1

{'wer': [1, 2, 3, 4]}

In [185]:
x1 = {"name":"Priyanka", "age":3455,"name":"bhuij", True:"bhgyu",True:"2148bgf",5478:(456,11,56),True:21, "_145":[155,"vgyyu",True]}

In [186]:
x1[5478]

(456, 11, 56)

In [187]:
x1[True]

21

In [188]:
x1["_145"][1]

'vgyyu'

In [46]:
x2 = {"name":{"k1":"wer","k4":[345,53435,534]},"age":3897, True:{1,2,3},"key":False,112:(4,5,6)}

In [47]:
x2

{'name': {'k1': 'wer', 'k4': [345, 53435, 534]},
 'age': 3897,
 True: {1, 2, 3},
 'key': False,
 112: (4, 5, 6)}

In [49]:
x2["name"]

{'k1': 'wer', 'k4': [345, 53435, 534]}

In [163]:
type(x2["name"])

dict

In [51]:
type(x2["name"]["k4"])

list

In [165]:
x2["name"]["k4"]

[345, 53435, 534]

In [22]:
x3 ={5:"cdde","k4":[345,56789,654]}

In [23]:
x4 = {"k4":"cewfe"}

In [81]:
x3 + x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [82]:
x3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [24]:
x3

{5: 'cdde', 'k4': [345, 56789, 654]}

In [25]:
x3["k4"]

[345, 56789, 654]

In [26]:
x3["k4"]=111

In [27]:
x3

{5: 'cdde', 'k4': 111}

In [28]:
x3["k4"]=x3["k4"]-10

In [29]:
x3

{5: 'cdde', 'k4': 101}

In [36]:
l1 =[1,2,3,4]
2 in l1

True

In [30]:
x3.keys()

dict_keys([5, 'k4'])

In [35]:
x3['k4']

101

In [37]:
x3

{5: 'cdde', 'k4': 101}

In [95]:
'k4' in x3.keys()

True

In [103]:
x3

{5: 'cdde', 'k4': 101}

In [105]:
x3[5],x3['k4']   #x3[5]['k4']  -> nested dict

('cdde', 101)

In [188]:
for i in x3:
    print(i)

5
k4

In [96]:
l1 =[34,45,67]
for i in l1:
    print(i)

34
45
67

In [97]:
x3.keys()

dict_keys([5, 'k4'])

In [192]:
for i in x3.keys():  #[5,"k4"]
    print([i])

[5]
['k4']

In [98]:
x3

{5: 'cdde', 'k4': 101}

In [38]:
for i in x3:
    print(i)

5
k4

In [39]:
for i in x3.keys():
    print(x3[i])  # print(i)

cdde
101

In [194]:
x2.keys()

dict_keys(['name', 'age', True, 'key', 112])

In [40]:
x2 = {"name":{"k1":"wer","k4":[345,53435,534]},"age":3897, True:{1,2,3},"key":False,112:(4,5,6)}

In [41]:
x2.keys()

dict_keys(['name', 'age', True, 'key', 112])

In [42]:
for i in x2:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'int'>

In [108]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>

In [198]:
x2.items()

dict_items([('name', {'k1': 'wer', 'k4': [345, 53435, 534]}), ('age', 3897), (True, {1, 2, 3}), ('key', False), (112, (4, 5, 6))])

In [199]:
for i in x2.items():
    print(i)

('name', {'k1': 'wer', 'k4': [345, 53435, 534]})
('age', 3897)
(True, {1, 2, 3})
('key', False)
(112, (4, 5, 6))

In [44]:
for i in x2.items():
    print(i[0])

name
age
True
key
112

In [201]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 53435, 534]}
3897
{1, 2, 3}
False
(4, 5, 6)

In [52]:
x5 = {(34, 56, 56):"cftyyu"}

In [46]:
x5[(34, 56, 56)]

'cftyyu'

In [47]:
type(x5[(34, 56, 56)])

str

In [49]:
x5[(34, 56,44)]

KeyError: (34, 56, 44)

In [196]:
x5

{(34, 56, 56): 'cftyyu'}

In [197]:
len(x5)

1

In [54]:
e = {56:{45,78,89}}             # -> extract 45

In [199]:
e = {56:{45,78,89}}

In [57]:
list(e[56])[2]

78

### Task

-  Take input as a paragraph by using input function
- 1. Convert all of this input into list
- 2. Remove all the duplicate elements from your list
- 3. Use above distinct element as a key for dictionary and assign your name as a value to all the key in dictionary
- 4. Try to print tuple of all the values 
- 5. Try to print list of all the values

In [17]:
# Take input as a paragraph by using input function
data = input("enter the paragraph-->")

enter the paragraph-->Data science is the study of data. It involves developing methods of recording, storing, and analyzing data to effectively extract useful information. The goal of data science is to gain insights and knowledge from any type of data  both structured and unstructured.

In [18]:
# 1. Convert all of this input into list
data_list = data.split(" ")

In [19]:
data_list

['Data',
 'science',
 'is',
 'the',
 'study',
 'of',
 'data.',
 'It',
 'involves',
 'developing',
 'methods',
 'of',
 'recording,',
 'storing,',
 'and',
 'analyzing',
 'data',
 'to',
 'effectively',
 'extract',
 'useful',
 'information.',
 'The',
 'goal',
 'of',
 'data',
 'science',
 'is',
 'to',
 'gain',
 'insights',
 'and',
 'knowledge',
 'from',
 'any',
 'type',
 'of',
 'data',
 '',
 'both',
 'structured',
 'and',
 'unstructured.']

In [20]:
# 2. Remove all the duplicate elements from your list
no_duplicate = set(data_list)

In [21]:
# 3. Use above distinct element as a key for dictionary and assign your name as a value to all the key in dictionary Try to print tuple of all the values

my_dict = {}
for i in no_duplicate:
    my_dict[i] = "Priyanka"
# my_dict

In [22]:
# 4.Try to print tuple of all the values

tup_list = []
for i in my_dict.keys():
    tup_list.append(my_dict[i])
    
print("Tuple List-->", tuple(tup_list))

Tuple List--> ('Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka', 'Priyanka')

In [23]:
# 5. Try to print list of all the values

list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->", list_keys)

List Keys--> ['any', 'Data', '', 'study', 'useful', 'It', 'goal', 'involves', 'data.', 'developing', 'of', 'and', 'effectively', 'type', 'The', 'methods', 'the', 'science', 'recording,', 'knowledge', 'is', 'gain', 'extract', 'insights', 'structured', 'both', 'storing,', 'data', 'to', 'information.', 'analyzing', 'unstructured.', 'from']

In [42]:
paragraph =input("Enter the para:")

Enter the para:Enter the para:Data science is the study of data. It involves developing methods of recording, storing, and analyzing data to effectively extract useful information. The goal of data science is to gain insights and knowledge from any type of data  both structured and unstructured.

In [43]:
lst1 = paragraph.split(" ")

In [47]:
s1 = set(lst1)
s1

{'Enter',
 'It',
 'The',
 'analyzing',
 'and',
 'any',
 'both',
 'data',
 'data.',
 'developing',
 'effectively',
 'extract',
 'from',
 'gain',
 'goal',
 'information.',
 'insights',
 'involves',
 'is',
 'knowledge',
 'methods',
 'of',
 'para:Data',
 'recording,',
 'science',
 'storing,',
 'structured',
 'study',
 'the',
 'to',
 'type',
 'unstructured.',
 'useful',
 ''}

In [54]:
dict1 = dict.fromkeys(s1,"Priyanka")
dict1

{'any': 'Priyanka',
 '': 'Priyanka',
 'study': 'Priyanka',
 'useful': 'Priyanka',
 'It': 'Priyanka',
 'goal': 'Priyanka',
 'involves': 'Priyanka',
 'data.': 'Priyanka',
 'developing': 'Priyanka',
 'of': 'Priyanka',
 'para:Data': 'Priyanka',
 'and': 'Priyanka',
 'effectively': 'Priyanka',
 'type': 'Priyanka',
 'The': 'Priyanka',
 'methods': 'Priyanka',
 'the': 'Priyanka',
 'science': 'Priyanka',
 'recording,': 'Priyanka',
 'knowledge': 'Priyanka',
 'is': 'Priyanka',
 'gain': 'Priyanka',
 'extract': 'Priyanka',
 'insights': 'Priyanka',
 'structured': 'Priyanka',
 'both': 'Priyanka',
 'storing,': 'Priyanka',
 'data': 'Priyanka',
 'to': 'Priyanka',
 'information.': 'Priyanka',
 'analyzing': 'Priyanka',
 'unstructured.': 'Priyanka',
 'from': 'Priyanka',
 'Enter': 'Priyanka'}

In [56]:
dict1

{'any': 'Priyanka',
 '': 'Priyanka',
 'study': 'Priyanka',
 'useful': 'Priyanka',
 'It': 'Priyanka',
 'goal': 'Priyanka',
 'involves': 'Priyanka',
 'data.': 'Priyanka',
 'developing': 'Priyanka',
 'of': 'Priyanka',
 'para:Data': 'Priyanka',
 'and': 'Priyanka',
 'effectively': 'Priyanka',
 'type': 'Priyanka',
 'The': 'Priyanka',
 'methods': 'Priyanka',
 'the': 'Priyanka',
 'science': 'Priyanka',
 'recording,': 'Priyanka',
 'knowledge': 'Priyanka',
 'is': 'Priyanka',
 'gain': 'Priyanka',
 'extract': 'Priyanka',
 'insights': 'Priyanka',
 'structured': 'Priyanka',
 'both': 'Priyanka',
 'storing,': 'Priyanka',
 'data': 'Priyanka',
 'to': 'Priyanka',
 'information.': 'Priyanka',
 'analyzing': 'Priyanka',
 'unstructured.': 'Priyanka',
 'from': 'Priyanka',
 'Enter': 'Priyanka'}

In [55]:
t1=tuple(dict1.keys())
t1

('any',
 '',
 'study',
 'useful',
 'It',
 'goal',
 'involves',
 'data.',
 'developing',
 'of',
 'para:Data',
 'and',
 'effectively',
 'type',
 'The',
 'methods',
 'the',
 'science',
 'recording,',
 'knowledge',
 'is',
 'gain',
 'extract',
 'insights',
 'structured',
 'both',
 'storing,',
 'data',
 'to',
 'information.',
 'analyzing',
 'unstructured.',
 'from',
 'Enter')

In [57]:
dict1.keys()

dict_keys(['any', '', 'study', 'useful', 'It', 'goal', 'involves', 'data.', 'developing', 'of', 'para:Data', 'and', 'effectively', 'type', 'The', 'methods', 'the', 'science', 'recording,', 'knowledge', 'is', 'gain', 'extract', 'insights', 'structured', 'both', 'storing,', 'data', 'to', 'information.', 'analyzing', 'unstructured.', 'from', 'Enter'])

In [48]:
d = {(34_5j,4,7):"Quastech", "course":"Data science using python", "Year":2021}
d

{(345j, 4, 7): 'Quastech', 'course': 'Data science using python', 'Year': 2021}

In [12]:
d = {"Institute":"Quastech", "course":"Data science using python", "Year":2021}
d

{'Institute': 'Quastech', 'course': 'Data science using python', 'Year': 2021}

In [16]:
for i in d:        #d[i]  -> Value at index i
    print("Print a key: ", i ,"Value: ",d[i])

Print a key:  Institute Value:  Quastech
Print a key:  course Value:  Data science using python
Print a key:  Year Value:  2021

In [55]:
l = [1145,452,"ddrt"]
type(l)

list

In [56]:
len(l)

3

In [59]:
for i in range(len(l)):        #d[i]  -> Value at index i 0-2->0,1
    print(l[i])# ,"Value: ",l[i])

1145
452
ddrt

In [72]:
for i in d:
    print(i)

Institute
course
Year

In [33]:
d  # 'Institute'-> 'Quastech', 'course'-> 'Data science using python', 'Year'-> 2021

{'Institute': 'Quastech', 'course': 'Data science using python', 'Year': 2021}

In [34]:
for i in d:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [35]:
for i in d.keys():
    print(type(d[i]))

<class 'str'>
<class 'str'>
<class 'int'>

In [63]:
d = {"Institute":"Quastech", "course":"Data science using python", "Year":2022}
d

{'Institute': 'Quastech', 'course': 'Data science using python', 'Year': 2022}

In [64]:
for i in d:
    if i=='Year':
        if d[i]>=2022:
            print("year is fine")
        else:
            d[i]<2022
            print("year is not valid")

year is fine

In [81]:
d

{'Institute': 'Quastech', 'course': 'Data science using python', 'Year': 2022}

### Dictionary Comprehension

In [5]:
my_dict = {}
for i in range(10):
    my_dict[i]=i*i
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [6]:
{i:i*i for i in range(10)}    # Dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [2]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
for i in range(10)