In [ ]:
- Readability
- Modularity
- Reusability

In [1]:
a =1000
b=500
a+b

1500

<return type> <function name((dtype),(dtype))
{
    -----
    -----
    -----
    return value
}

def function name(value1, value2):
        -----
       ------
       ------
       ------

In [3]:
def test(x,y):
    pass

In [4]:
def test1(x,y):
    pass
def test2(x,y):
    pass
def test3(x,y):
    pass

In [10]:
a =1000
b=500
a+b

1500

### Print statement

In [5]:
def test(a,b):
    print(a+b)

In [8]:
test(1000,50)

1050

In [35]:
def test(a,b):
    #print(a+b)
    return a+b

In [32]:
def test(a,b):
    #print(a+b)
    return a+b

In [33]:
test(10,30)

40

In [11]:
def test1(b,m):
    return b*m

In [12]:
def test1(b,m):
    print(b*m)

In [13]:
test1(11,5)

55

In [18]:
m=10
b=5
type(print(b*m))

50

NoneType

In [36]:
# priyanka.j.datascience@gmail.com

In [14]:
test1(11,5)+6

55

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [26]:
def test1(b,m):
    return b*m

In [27]:
test1(12,5)+6

66

In [28]:
type(return b*m)

SyntaxError: invalid syntax (<ipython-input-28-76bb71b50292>, line 1)

In [12]:
type(test1(12,5)+6)

int

In [21]:
def test1(b,m):
    print(b*m)

In [22]:
test1(12,5)+6

60

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [23]:
type(test1(12,5))

60

NoneType

In [23]:
def test2(t,n,m):
    return t+n

In [25]:
test2(2,3,1)

5

In [26]:
test2(2,3,6)

5

In [37]:
def test3(n,m):    #n-> 2, m-> 7
    return n*10, m*40, m+n

In [38]:
test3(2,7)

(20, 280, 9)

In [2]:
type(test3)

function

In [3]:
test3(3,2)

(30, 80, 5)

In [4]:
type(test3(2,7))

tuple

In [25]:
c,x,y = (test3(3,2))

In [39]:
_,_,_ = (test3(3,2))

In [40]:
_

5

In [30]:
x

80

In [31]:
y

5

In [44]:
_ =" hhijkm"

In [45]:
type(_)

str

In [9]:
_ = 10     # _ -> placeholer

In [10]:
_

10

In [11]:
type(_)

int

In [12]:
a,b,c = test3(2,7)
a,b,c

(20, 280, 9)

In [14]:
_ = test3(2,7)

In [15]:
_

(20, 280, 9)

In [58]:
def test4():
    print("this my first function")

In [59]:
test4()

this my first function

In [60]:
m = test4()+"bjjhuui"

this my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [61]:
def test4():
    return "this my first function"

In [63]:
test4()

'this my first function'

In [65]:
m = test4()+" bjhui"

In [66]:
m

'this my first function bjhui'

In [77]:
def test5(n):
    return n*2

In [78]:
test5([2,3,4,5,"xrtt"])

[2, 3, 4, 5, 'xrtt', 2, 3, 4, 5, 'xrtt']

In [88]:
a =int(input("enter a number"))

enter a number10

In [89]:
type(a)

int

In [83]:
def test5(n):
    return n,n*2

In [84]:
test5([2,3,4,5])  #-> 4,6,8,10

([2, 3, 4, 5], [2, 3, 4, 5, 2, 3, 4, 5])

In [70]:
b = test5([2,3,4,5])

In [71]:
b

([2, 3, 4, 5], [2, 3, 4, 5, 2, 3, 4, 5])

In [72]:
b[0]

[2, 3, 4, 5]

In [73]:
b[1]

[2, 3, 4, 5, 2, 3, 4, 5]

In [91]:
def test6(n, m=90):  # n->60
    return n+m   # 60 + 90 =150

In [92]:
test6(60)

150

In [93]:
test6(60,100) # 60+100

160

In [106]:
def boolx(x=True, y=False):
    return x+y

In [104]:
boolx()

1

In [100]:
boolx(False, 8)    #

8

In [87]:
boolx(False)

0

In [109]:
def travel(bike=True, car=False):
    plan_travel = bike or car     
    return bike, car, plan_travel

In [110]:
travel()    # function calling with default parameters

(True, False, True)

In [111]:
travel(False)  # -> False, F, F

(False, False, False)

In [112]:
travel(car=True) # T, T, T

(True, True, True)

In [39]:
def test7(*args):
          return args

In [40]:
test7("Priyanka", "Jogdand",34,[34,4,4,5,454,54] )

('Priyanka', 'Jogdand', 34, [34, 4, 4, 5, 454, 54])

In [41]:
list1 = [10,23,45,56,67]

In [17]:
for i in list1:
    print(i)

10
23
45
56
67

In [3]:
def test7(*args):        # Labelled argument   args -> [11,12,13,34]
    l = []
    for i in args:
        #l.append(i)
        l=l+i
    return l

In [4]:
test7([11,12,13,34])

[11, 12, 13, 34]

In [189]:
test7([11,12,13,34],[34,4,4,5,454,54])

[11, 12, 13, 34, 34, 4, 4, 5, 454, 54]

In [1]:
l =[12,23,4,5,67]
def test7(l):    # l -> [11,12,13,34]
    m = []
    for i in m:
        l.append(i)
        #m=m+i
    return m

In [2]:
test7([12,23,4,5,67])

[]

In [21]:
test7([[11,12,13,34],[34,4,4,5,454,54]])

[]

### Positional arguments

In [32]:
def test8(*args):
    return[i for i in args]

In [33]:
test8([1,2,3],[4,5,6],["ced", True, 34+5j])

[[1, 2, 3], [4, 5, 6], ['ced', True, (34+5j)]]

In [34]:
test8(123,"fegfr",[1,2,3],[4,5,6],["ced", True, 34+5j])

[123, 'fegfr', [1, 2, 3], [4, 5, 6], ['ced', True, (34+5j)]]

In [44]:
def test7(*ags):
    l = []
    for i in ags:
        l.append(i)
        #l=l+i
    return l

In [45]:
test7(123,"fegfr",[1,2,3],[4,5,6],["ced", True, 34+5j])

[123, 'fegfr', [1, 2, 3], [4, 5, 6], ['ced', True, (34+5j)]]

In [175]:
def test7(*args):
    l = []
    for i in args:
        l.append(i)
        #l = l + i
    return l

In [176]:
test7(123,"fegfr",[1,2,3],[4,5,6],["ced", True, 34+5j])

[123, 'fegfr', [1, 2, 3], [4, 5, 6], ['ced', True, (34+5j)]]

In [178]:
def test9(*args):
    l = []
    for i in args:
        if type(i)==list:
            #l.append(i)
            l = l + i
        
    return l

In [180]:
test9(123,"fegfr",[1,2,3],[4,5,6],["cef",True,34+5j])

[1, 2, 3, 4, 5, 6, 'cef', True, (34+5j)]

### Keyword arguments

In [54]:
def test10(*args):        # positional arguments
    return args

In [55]:
test10(4,5,67)

(4, 5, 67)

In [5]:
def test10(**kwargs):        # Keyword arguments
    return kwargs

In [6]:
test10(a=4,b=5,c=67)

{'a': 4, 'b': 5, 'c': 67}

In [48]:
test10(a=8, b=9, c=10)

{'a': 8, 'b': 9, 'c': 10}

In [51]:
test10({'a': 8, 'b': 9, 'c': 10})

({'a': 8, 'b': 9, 'c': 10},)

In [207]:
test10({'a': 8, 'b': 9, 'c': 10})

TypeError: test10() takes 0 positional arguments but 1 was given

In [209]:
test10(a="Priyanka", b=[True,25,11], c=10+6j)

{'a': 'Priyanka', 'b': [True, 25, 11], 'c': (10+6j)}

In [212]:
def test11(*args):
    return args

In [213]:
test11(12,"nji",[1,2,3,4],12+3j)

(12, 'nji', [1, 2, 3, 4], (12+3j))

In [ ]:
l_int =[12,23,45]
l_str =["nji","bjhu","cgfy"]
l_list =[[1,2,3,4]]
l_comlex =[12+3j]

#### Tasks

-1. Create a function which creates any number of mixed data and try to create a list of seperate data based on data type and return multiple results

-2. Create a function which will be able to use "*args", and "**kwargs" and it will be able to do all the list value concatenation and return a list

In [ ]:
def test17(*args):
    l = []
    l1 = []
    for i in args:
        if i == int:
            l.append(i)
        if i == float:
            l1.append(i)
        
    return args

In [ ]:
test17(3,4,5,6,7,9.8,True,"strin1",(1,2,3),{'a':1,'b':2,'c':3}, False,[1,2,3,45],4+5j)

In [52]:
#1. 
def fun1(*args):
    a_int = []
    b_float = []
    c_str = []
    d_tuple = []
    e_list = []
    f_dict = []
    g_bool = []
    h_complx =[]
    for i in args:   # args -> 3,4,5,6,7,9.8,True,"strin1",(1,2,3),{'a':1,'b':2,'c':3}, False,[1,2,3,45],4+5j
        if type(i)==int:
            a_int.append(i)
        if type(i)==float:
            b_float.append(i)
        if type(i)==str:
            c_str.append(i)
        if type(i)==tuple:
            d_tuple.append(i)
        if type(i)==list:
            e_list.append(i)
        if type(i)==dict:
            f_dict.append(i)
        if type(i)==bool:
            g_bool.append(i)
        if type(i)==complex:
            h_complx.append(i)
            
    return a_int,b_float,c_str,d_tuple,e_list,f_dict,g_bool, h_complx

In [53]:
fun1(3,4,5,6,7,9.8,True,"strin1",(1,2,3),{'a':1,'b':2,'c':3}, False,[1,2,3,45],4+5j)

([3, 4, 5, 6, 7],
 [9.8],
 ['strin1'],
 [(1, 2, 3)],
 [[1, 2, 3, 45]],
 [{'a': 1, 'b': 2, 'c': 3}],
 [True, False],
 [(4+5j)])

In [9]:
#1. 
def test18(*args):
    dt = {}
    for i in args:
        if type(i) in dt:  
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]    #   {int:[1,2,3] , list:[[5,6,7,8]], str:["fefe","hi"],complex: [(6+5j)],bool: [True] }
           
    return dt

In [8]:
test18(1,2,3,[5,6,7,8],"fefe","hi",6+5j, True)

{int: [1, 2, 3],
 list: [[5, 6, 7, 8]],
 str: ['fefe', 'hi'],
 complex: [(6+5j)],
 bool: [True]}

In [239]:
test19(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [10]:
#2.
def fun2(*args, **kwargs):   # args ->[4,5,6,7],[8,9,10], 10,20,30,"niui", kwargs -> m=[1,2,3,4]
    l = [i for i in args if type(i)==list]
    d = [i[1] for i in kwargs.items() if type(i[1] == list)]
    return l,d

In [11]:
fun2([4,5,6,7],[8,9,10],10,20,30,"niui", m=[1,2,3,4])

([[4, 5, 6, 7], [8, 9, 10]], [[1, 2, 3, 4]])

In [242]:
def test18(**kwargs):
    return kwargs

In [243]:
test18(a=12,b=[4,5,6,7],c = True,d=["Priyanka",5.67],e=6+7j)

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Priyanka', 5.67], 'e': (6+7j)}

In [244]:
def test18(**kwargs):
    for i in kwargs.items():
        print(i)
    return kwargs

In [245]:
test18(a=12,b=[4,5,6,7],c = True,d=["Priyanka",5.67],e=6+7j)

('a', 12)
('b', [4, 5, 6, 7])
('c', True)
('d', ['Priyanka', 5.67])
('e', (6+7j))

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Priyanka', 5.67], 'e': (6+7j)}

In [265]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:   # i[1]=[[4,5,6,7]]
            if "Priyanka" in i[1]:
                print("I am able to find a name in a input data")
                print(i[1])
    return kwargs

In [266]:
test18(a=12,b=[4,5,6,7],c = True,d=["Priyanka",5.67],e=6+7j)

I am able to find a name in a input data
['Priyanka', 5.67]

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Priyanka', 5.67], 'e': (6+7j)}

In [269]:
d = {'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Priyanka', 5.67], 'e': (6+7j)}

In [270]:
d.items()

dict_items([('a', 12), ('b', [4, 5, 6, 7]), ('c', True), ('d', ['Priyanka', 5.67]), ('e', (6+7j))])

In [267]:
def test18(**kwargs):
    for i in kwargs.values():
        if type(i) == list:
            if "Priyanka" in i:
                print("I am able to find a name in a input data")
                print(i)
    return kwargs

In [268]:
test18(a=12,b=[4,5,6,7],c = True,d=["Priyanka",5.67],e=6+7j)

I am able to find a name in a input data
['Priyanka', 5.67]

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Priyanka', 5.67], 'e': (6+7j)}